* {
    margin: 0;
    padding: 0;
  }
  
  body {
    text-align: center;
  
    background-color:#4e8397;
  }
  h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .container {
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
    position: relative;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    background-color: hwb(0 97% 1%);
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 15vmin;
    color: red;
  }
  
  .notify {
    height: 20vmin;
    width: 25vmin;
    border: 1px solid blueviolet;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d65db1;
    border-radius: 7px;
    padding: 10px; /* Add some padding to make room for the button */
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    font-family: 'Great Vibes', cursive;
  }
  
  .hide {
    display: none;
  }
  
  .btn {
    position: absolute; /* Change from absolute to relative */
    height: 3vmin;
    width: 8vmin;
    border-radius: 8px;
    color: aliceblue;
    background-color: black;
    left: 26vmin;
    top: 38vmin;
  }